.playgroundEditor {
  font-family: var(--defaultFont-mono);
  color: var(--color-fg);
}

.playgroundEditor pre {
  background-color: transparent !important;
  white-space: pre !important;
  padding: var(--space-2) !important;
  scrollbar-width: thin;
  font-size: var(--fontSize-label2);
  font-weight: var(--fontWeight-label2);
  line-height: var(--lineHeight-label2);
}
