/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-avatar-photo-size-md: 80px;
  --ifm-background-color: var(--background);
  --ifm-pre-background: var(--background);
  --ifm-color-primary: var(--primary);
  --ifm-link-color: var(--primary);
  --ifm-tabs-color: var(--foreground);
  --ifm-tabs-color-active: var(--primary);
  --ifm-tabs-color-active-border: var(--primary);
}

:root[data-theme='light'] {
  --ifm-color-primary: rgb(16, 94, 255);
  --ifm-color-primary-dark: rgb(0, 82, 255);
  --ifm-color-primary-darker: rgb(0, 62, 193);
  --ifm-color-primary-darkest: rgb(0, 24, 77);
  --ifm-color-primary-light: rgb(70, 132, 255);
  --ifm-color-primary-lighter: rgb(115, 162, 255);
  --ifm-color-primary-lightest: rgb(176, 202, 255);
  --ifm-code-font-size: 95%;
  --ifm-background-color: rgb(255, 255, 255);
}

:root[data-theme='dark'] {
  --ifm-color-primary: rgb(55, 115, 245);
  --ifm-color-primary-dark: rgb(87, 139, 250);
  --ifm-color-primary-darker: rgb(132, 170, 253);
  --ifm-color-primary-darkest: rgb(185, 207, 255);
  --ifm-color-primary-light: rgb(10, 72, 206);
  --ifm-color-primary-lighter: rgb(5, 59, 177);
  --ifm-color-primary-lightest: rgb(1, 42, 130);
  --ifm-code-font-size: 95%;
  --ifm-background-color: rgb(10, 11, 13);
}

/* Search bar specificity */

html > body[data-theme='light'] {
  --aa-primary-color-rgb: 16, 94, 255;
  --aa-input-border-color-rgb: 16, 94, 255;
  --aa-muted-color-rgb: 70, 132, 255;
}

html > body[data-theme='dark'] {
  --aa-primary-color-rgb: 55, 115, 245;
  --aa-input-border-color-rgb: 55, 115, 245;
  --aa-muted-color-rgb: 132, 170, 253;
}

/** Fix mis alignment of HStacks with li items in live code editor */
.markdown li + li {
  margin-top: 0;
}
