# Node stuff
node_modules
yarn-debug.log*
yarn-error.log*
dist

# OS ignores
.DS_Store

# Xcode
**/ios/build/
**/ios/derived_data/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace
*.xcodeproj/
Pods/


# Android/IntelliJ
**/android/build/
**/android/app/build/
.idea
.gradle
local.properties
*.iml
*.hprof

# Nx/Builds
.nx
dts/
lib/
esm/
*.tsbuildinfo
/.cache-loader
/.linaria-cache
/build

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
install-state.gz

# Docusaurus
.docusaurus

# Executors
/tools/executors/**/*.js
/tools/executors/**/*.d.ts
/tools/executors/**/*.d.ts.map
/tools/types.d.ts
/tools/types.d.ts.map

# React Native

## Xcode

**/ios/**/build/
**/ios/**/*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

## Android

**/android/**/build/
**/android/**/.gradle
**/android/**/local.properties
**/android/**/*.iml

## BUCK

buck-out/
\.buckd/
*.keystore
!debug.keystore

## fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
#
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

## Bundle artifact
*.jsbundle

## CocoaPods
**/ios/Pods/
/

## Nested node_modules

node_modules/

#nextjs
.next
