//npm.cbhq.net/:always-auth=true
//npm.cbhq.net/:_authToken=535161ae49aac81d3138da43675fe4d85a7e4b69

@frontend:registry=https://registry-npm.cbhq.net
@moonbase:registry=https://registry-npm.cbhq.net
@gdax:registry=https://registry-npm.cbhq.net
@cb:registry=https://registry-npm.cbhq.net
@cbhq:registry=https://registry-npm.cbhq.net

save=true
save-exact=true

# download from our own prebuilt binaries
grpc_node_binary_host_mirror=https://cb-prebuilt-binaries.s3.amazonaws.com
# if it does rebuild, this will ensure alpn remains false
grpc_alpn=false
