.yarnrc.yml

*.graphql
**/persisted_queries.json
**/__generated__

# Apps
apps/website/docs/**/*.json
apps/website/static/**/*.json
apps/mobile-playground/vendor

# Codegen 
libs/docusaurus-theme/src/theme/**/*.d.ts

# Nx
dist/
lib/
cjs/
dts/
package.json
tsconfig.json
tsconfig.build.json
.docusaurus
.nx

.next/
*.ejs

# Lottie
packages/lottie-files/**/*.json
