{
  "rules": {
    // Dont import from itself
    "no-restricted-imports": [
      "error",
      {
        "paths": ["@cds/lottie-files"],
        "patterns": ["@cds/lottie-files/*"]
      }
    ],
    "import/extensions": ["error", "never", {"json": "always"}]
  }
}
