.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-radius: var(--border-radius-xl);
  padding: 24px;
  background-color: var(--color-backgroundAlternate);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 24px;
  }
}

.footerLogoWrapper {
  width: 100px;
  height: 100px;
  padding: 16px;
  box-sizing: content-box;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .footerLogoWrapper {
    width: 80px;
    height: 80px;
    padding: 0;
  }
}

.footerLogo {
  width: 100%;
  height: 100%;
}

.footerContent {
  display: flex;
  flex-direction: column;
  padding: 8px 40px 8px 24px;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .footerContent {
    padding: 0;
    gap: 40px;
  }
}

.footerText {
  color: var(--color-textForeground);
  flex-grow: 1;
}

.footerLinksWrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.footerLink {
  color: var(--color-textForeground);
}
