{
  "rules": {
    // Dont import from itself
    "no-restricted-imports": [
      "error",
      {
        "paths": ["@cbhq/cds-mobile"],
        "patterns": ["@cbhq/cds-mobile/*"]
      }
    ],
    "no-process-env": "error",
    "@cbhq/prefer-react-named-module-import": "off"
  }
}
