{
  "rules": {
    // Dont import from itself
    "no-restricted-imports": [
      "error",
      {
        "paths": ["@cbhq/cds-icons"],
        "patterns": ["@cbhq/cds-icons/*"]
      }
    ]
  }
}
