.cds-verticalLineClassName-v1p330gi {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cds-lineContainerClassName-ljctcux {
  width: 2px;
  height: 100%;
}
.cds-maskClassName-mfwfzju {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
