.menuListCollapsible {
  padding-top: 8px;
}

.menuListCollapsible > li {
  padding-bottom: 12px;
}

.menuListItemCollapsibleHover:hover {
  background: none;
}

.menuListItem {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
