/* stylelint-disable */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --cds-font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --cds-font-display: CoinbaseDisplay, var(--cds-font-fallback);
  --cds-font-sans: CoinbaseSans, var(--cds-font-fallback);
  --cds-font-text: CoinbaseText, var(--cds-font-fallback);
  --cds-font-mono: CoinbaseMono, var(--cds-font-fallback);
  --cds-font-icon: CoinbaseIcons;
  --ifm-global-radius: 16px;
  --ifm-global-shadow-lw: 0 1px 0 0 var(--line);
  --ifm-global-spacing: 8px;
  --ifm-pre-padding: 24px;
  --ifm-avatar-photo-size-md: 80px;
  --ifm-navbar-background-color: var(--background);
  --ifm-toc-border-color: var(--line);
  --ifm-color-primary: var(--primary);
  --ifm-link-color: var(--primary);
  --ifm-tabs-color: var(--foreground);
  --ifm-tabs-color-active: var(--primary);
  --ifm-tabs-color-active-border: var(--primary);
  --ifm-code-font-size: 95%;
  --ifm-color-primary: var(--primary);
  --ifm-font-family-base: var(--cds-font-sans);
  --ifm-badge-border-radius: 16px;
  --ifm-font-color-base: var(--foreground);
  --ifm-font-color-base-inverse: var(--background);
  --ifm-font-color-secondary: var(--secondary);
  --ifm-pre-border-radius: 8px;
  --ifm-heading-margin-bottom: 16px;
  --ifm-color-info: var(--primary);
  --ifm-color-danger: var(--negative);
  --ifm-color-success: var(--positive);
  --ifm-alert-background-color: var(--negative);
  --ifm-alert-border-color: transparent;
  --ifm-alert-border-width: 1px;
  --ifm-alert-border-left-width: 1px;
  --ifm-alert-border-radius: 16px;
  --ifm-alert-padding-vertical: 24px;
  --ifm-alert-padding-horizontal: 24px;
  --ifm-navbar-padding-horizontal: 24px;
  --ifm-list-left-padding: 8px;
  --ifm-alert-shadow: none;
  --ifm-font-family-monospace: var(--cds-font-mono);
  --ifm-code-border-radius: 4px;
  /* --ifm-spacing-vertical: 8px; */
  /* --ifm-spacing-horizontal: 32px; */
  /* --ifm-container-width: unset; */
  /* --ifm-container-width-xl: unset; */

  /* Search bar */
  --search-input-height: 61px;
  --search-width: 478px;
  --search-border-radius: 16px;
}

:root[data-theme='light'] {
  --background: rgba(255, 255, 255, 1);
  --background-alternate: rgba(238, 240, 243, 1);
  --background-overlay: rgba(50, 53, 61, 0.33);
  --foreground: rgba(10, 11, 13, 1);
  --foreground-muted: rgba(91, 97, 110, 1);
  --line: rgba(91, 97, 110, 0.2);
  --line-heavy: rgba(91, 97, 110, 0.66);
  --negative: rgba(207, 32, 47, 1);
  --negative-foreground: rgba(255, 255, 255, 1);
  --positive: rgba(9, 133, 81, 1);
  --positive-foreground: rgba(255, 255, 255, 1);
  --primary: rgba(0, 82, 255, 1);
  --primary-foreground: rgba(255, 255, 255, 1);
  --primary-wash: rgba(245, 248, 255, 1);
  --secondary: rgba(238, 240, 243, 1);
  --secondary-foreground: rgba(10, 11, 13, 1);
  --transparent: rgba(255, 255, 255, 0);
  --elevation1: var(--background);
  --elevation2: var(--background);

  --ifm-background-color: var(--background);
  --ifm-color-secondary-contrast-background: var(--secondary);
  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--background-alternate);
  --ifm-scrollbar-thumb-hover-background-color: var(--background-alternate);
  --ifm-color-primary-dark: rgb(0, 82, 255);
  --ifm-color-primary-darker: rgb(0, 62, 193);
  --ifm-color-primary-darkest: rgb(0, 24, 77);
  --ifm-color-primary-light: rgb(70, 132, 255);
  --ifm-color-primary-lighter: rgb(115, 162, 255);
  --ifm-color-primary-lightest: rgb(176, 202, 255);
}

:root[data-theme='dark'] {
  --background: rgba(10, 11, 13, 1);
  --background-alternate: rgba(20, 21, 25, 1);
  --background-overlay: rgba(26, 29, 34, 0.5);
  --foreground: rgba(255, 255, 255, 1);
  --foreground-muted: rgba(138, 145, 158, 1);
  --line: rgba(138, 145, 158, 0.2);
  --line-heavy: rgba(138, 145, 158, 0.66);
  --negative: rgba(240, 97, 109, 1);
  --negative-foreground: rgba(10, 11, 13, 1);
  --positive: rgba(39, 173, 117, 1);
  --positive-foreground: rgba(10, 11, 13, 1);
  --primary: rgba(55, 115, 245, 1);
  --primary-foreground: rgba(10, 11, 13, 1);
  --primary-wash: rgba(0, 16, 51, 1);
  --secondary: rgba(50, 53, 61, 1);
  --secondary-foreground: rgba(255, 255, 255, 1);
  --transparent: rgba(10, 11, 13, 0);
  --elevation1: rgba(20, 21, 25, 1);
  --elevation2: rgba(30, 32, 37, 1);

  --ifm-background-color: var(--background);
  --ifm-color-secondary-contrast-background: var(--elevation1);
  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--background-alternate);
  --ifm-scrollbar-thumb-hover-background-color: var(--background-alternate);
  --ifm-color-primary-dark: rgb(87, 139, 250);
  --ifm-color-primary-darker: rgb(132, 170, 253);
  --ifm-color-primary-darkest: rgb(185, 207, 255);
  --ifm-color-primary-light: rgb(10, 72, 206);
  --ifm-color-primary-lighter: rgb(5, 59, 177);
  --ifm-color-primary-lightest: rgb(1, 42, 130);
}

/* Admonition */
.admonition {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.admonition-heading {
  flex-shrink: 0;
  width: 100%;
}

.admonition h5:not(span) {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}

.admonition-icon {
  margin-right: 24px;
}

.admonition-content {
  font-weight: 400;
  padding-left: calc(22px + 24px);
  color: var(--foreground-muted);
}

/* TODO - finish mapping all admonitions to cds colors */
/* .alert {
  --ifm-alert-background-color: var(--negative);
  --ifm-alert-foreground-color: var(--negative-foreground);
} */

/* Sidebar https://docusaurus.io/docs/next/styling-layout#theme-class-names */
.theme-doc-sidebar-container > div {
  border-right: 1px solid var(--ifm-toc-border-color);
}

.theme-doc-sidebar-container > div > nav {
  padding: 0;
}

.theme-doc-sidebar-menu {
  margin-right: calc(var(--ifm-global-spacing) * -1);
}

/* To get search in navbar to appear to the left of dark mode toggle */
.navbar__items--right {
  flex-direction: row-reverse;
  gap: 24px;
}

/* Search styles */

/* In navbar - replace plugin icon with cds version */
.aa-Autocomplete svg {
  display: none;
}

.aa-DetachedSearchButton {
  display: flex;
  align-items: center;
  gap: 8px;
  appearance: none;
  background-color: inherit;
  padding: 0;
  padding-left: 28px;
  padding-right: 16px;
  font-family: var(--cds-font-sans);
  font-size: 16px;
  width: 280px;
}

.aa-DetachedSearchButton::before {
  content: '';
  font-family: var(--cds-font-icon);
  font-size: 16px;
  color: var(--foreground);
}

.aa-Form,
.aa-InputWrapper,
.aa-InputWrapperPrefix,
.aa-Input,
.aa-Label,
.aa-SubmitButton,
.aa-DetachedCancelButton {
  height: inherit;
}

.aa-DetachedOverlay {
  width: 100%;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  background-color: var(--background-overlay);
}

.aa-DetachedContainer--modal {
  box-shadow: none;
  border-radius: var(--search-border-radius);
  bottom: inherit;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  width: 100%;
}

.aa-DetachedFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  border-radius: var(--search-border-radius);
  height: var(--search-input-height);
  width: var(--search-width);
  margin: 0 auto;
  background-color: var(--elevation2);
  overflow: hidden;
}

.aa-Form {
  display: flex;
  width: 100%;
}

.aa-InputWrapper {
  width: 100%;
}

.aa-Input {
  width: 100%;
  padding: 0;
  border: none;
  appearance: none;
  outline: none;
  font-family: var(--cds-font-sans);
  caret-color: var(--primary);
  font-size: 16px;
  line-height: 24px;
  background: inherit;
}

.aa-Input::-webkit-search-cancel-button {
  appearance: none;
}

.aa-InputWrapperSuffix {
  display: none;
}

.aa-SubmitButton {
  background-color: inherit;
  padding: 0;
  padding-left: 28px;
  padding-right: 16px;
  font-family: var(--cds-font-sans);
  font-size: 16px;
}

.aa-SubmitButton svg {
  display: none;
}

.aa-SubmitButton::before {
  content: '';
  font-family: var(--cds-font-icon);
  font-size: 16px;
  color: var(--primary);
}

.aa-DetachedCancelButton {
  background-color: inherit;
  padding: 0;
  padding-left: 16px;
  padding-right: 28px;
  font-family: var(--cds-font-sans);
  font-size: 16px;
}

.aa-Panel {
  width: var(--search-width);
  border-radius: var(--search-border-radius);
  background-color: var(--elevation2);
  margin: 0 auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: 1px solid var(--line);
  position: relative;
}

.aa-Panel::before {
  content: '';
  background-color: var(--elevation2);
  width: 100%;
  height: var(--search-border-radius);
  position: absolute;
  top: calc(var(--search-border-radius) * -1);
  border-bottom: 1px solid var(--line);
}

/* List items in search panel */
.aa-List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aa-PanelLayout {
  overflow: hidden;
}

.aa-Source,
.aa-List:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.aa-Item {
  padding: 8px 24px;
}

.aa-Item[aria-selected='true'] {
  background-color: var(--secondary);
}

.aa-ItemLink {
  text-decoration: none;
  font-family: var(--cds-font-sans);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.aa-ItemLink:hover {
  text-decoration: none;
  color: initial;
}

.aa-ItemContentBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.aa-ItemContentTitle {
  font-size: 16px;
  color: var(--foreground);
}

.aa-ItemContentDescription {
  font-size: 14px;
  color: var(--foreground-muted);
}

.aa-ItemActionButton {
  background-color: inherit;
  padding: 0;
}

.aa-SourceNoResults {
  padding: 24px;
}

mark {
  background-color: unset;
  color: unset;
}

/* Home page overrides */
.docs-doc-id-home\/home {
  --ifm-container-width-xl: 100%;
}

.docs-doc-id-home\/home main {
  --ifm-spacing-horizontal: 0;
  --ifm-spacing-vertical: 0;
}

.docs-doc-id-home\/home main .container {
  padding-bottom: 0 !important;
}

/* Anchor links */
a:hover {
  text-decoration: initial;
}
