/* stylelint-disable */
.hueGrid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 9);
}

.hueColumn {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 40px;
}

.hue {
  border-radius: 4px;
  padding: 4px;
  font-size: 10px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.25s;
  width: 100%;
}

.hue:hover {
  opacity: 1;
}

.paletteTile {
  padding: 12px 16px;
  border: 1px solid var(--stroke);
  border-radius: 8px;
}

.twoColumns {
  background-color: var(--background);
  padding: 16px;
  display: grid;
  column-gap: 20px;
  row-gap: 16px;
  grid-auto-flow: column;
  grid-auto-columns: min-content min-content;
  padding-right: 50px;
}
