@media screen and (min-width: 1440px) {
  .heroContainer {
    height: 483px;
  }

  .heroTitle {
    font-family: var(--fontFamily-display1);
    font-size: var(--fontSize-display1);
    font-weight: var(--fontWeight-display1);
    line-height: var(--lineHeight-display1);
  }

  .heroDescription {
    font-family: var(--fontFamily-title4);
    font-size: var(--fontSize-title4);
    font-weight: var(--fontWeight-title4);
    line-height: var(--lineHeight-title4);
  }
}
