{
  "rules": {
    // Dont import from itself
    "no-restricted-imports": [
      "error",
      {
        "paths": ["@cbhq/cds-<package>"],
        "patterns": ["@cbhq/cds-<package>/*"]
      }
    ]
  }
}
