.codeBlock {
  margin-bottom: var(--space-3);
}

.codeBlock:last-child {
  margin-bottom: 0;
}

.codeBlockContent {
  /* rtl:ignore */
  direction: ltr;
}

.codeBlockLines {
  float: left;
}

@media print {
  .codeBlockLines {
    white-space: pre-wrap;
  }
}
.buttonGroup button {
  transition: opacity var(--ifm-transition-fast) ease-in-out;
  opacity: 0;
}
.codeBlock:hover .buttonGroup button {
  opacity: 0.4;
}

.codeBlock:hover .buttonGroup button:hover,
.codeBlock:focus-within .buttonGroup button:focus-visible {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .codeBlock {
    margin-bottom: var(--space-2);
  }
}
