{
  "rules": {
    // Dont import from itself
    "no-restricted-imports": [
      "error",
      {
        "paths": ["@cbhq/cds-lottie-files"],
        "patterns": ["@cbhq/cds-lottie-files/*"]
      }
    ],
    "import/extensions": ["error", "never", { "json": "always" }]
  }
}
